[Unit]
Description=Kubelet service
StartLimitIntervalSec=600
StartLimitBurst=50

[Service]
ExecStart={{ .Scripts.Kubelet }}
Restart=on-failure
RestartSec=10
LimitNOFILE=65536